<!doctype html>
<head>
    <% include partials/head %>
</head>
<body>
<header>

</header>
<body>
<div class="container">
<div class='picture_container'>
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Welkom!</h1>

        <a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span> Log in</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Meld je aan</a>
    </div>
</div>

</div>
</body>